

$main-font-color: #777;
$headline-primary-color: #58e1c1;
$text-link-color: #51ddfc;
$default-btn-bg: #51ddfc;
$error-btn-bg: #e4757a;
$info-btn-bg: #927bc1;
$success-btn-bg: #63cc82;
$warning-btn-bg: #fd7856;
$btn-font-color: #fff;



$brkpoint-sm: 1px;
$brkpoint-md: 768px;