/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-font-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $default-btn-bg;
  }
  
  .error {
    background-color: $error-btn-bg;
  }
  
  .info {
    background-color: $info-btn-bg;
  }
  
  .success {
    background-color: $success-btn-bg;
  }
  
  .warning {
    background-color: $warning-btn-bg;
  }
  